$red: #f26c4f;

body {
	background: #EBEBEB;
}

@import "imports/modal";
@import "imports/ref";

/*Delete me*/
.cat2 {
    background: url('../../cat2_the_things_ive_seen.jpg');
    width: 640px;
    height: 480px;
}